.rodape {
    background-color: #bfbfbf;
    color: #fbfbfb;
    text-transform: lowercase;
}

@media screen and (min-width:0px) {
    .rodape {
        padding: 1.5625rem 1rem;
        text-align: center;
    }
}
@media screen and (min-width:930px) {
    .rodape {
        text-align: end;
        padding: 1.5625rem 5rem;
    }
}